*.iml
/.idea
/test

client/dist
client/tmp
client/out-tsc
client/node_modules/
client/e2e/*.js
client/e2e/*.map
client/package-lock.json

server/build
server/gradle
server/.gradle
server/target
server/gradlew
server/gradlew.bat
server/.idea

android/.gradle
android/gradle
android/.idea
android/build

